<header>
    <div class="header-content" id="welcome">
        <div class="header-content-inner">
            <h1>Somos Frogtekeros</h1>
            <hr>
            <p class="text-faded">
                Creamos productos y servicio cuyo propósito es iluminar con información el canal tradicional para
                hacerlo más competitivo (y de paso ayudar a los tenderos de países emergentes y del tercer mundo a
                competir en mejores condiciones)
            </p>

            {% include youtube.html youtube_id="BoDtuEUO328" %}

            <p><a href="#areas" class="btn btn-primary btn-xl page-scroll">¿cómo lo hacemos?</a></p>
        </div>
    </div>
</header>
