<section id="areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cómo lo hacemos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary"></i>
                    <h3>Aplicaciones</h3>
                    <p class="text-muted">
                        Desarrollamos aplicaciones Android y Web como <a href="http://www.tiendatekweb.com/"
                                                                               target="_blank">Tiendatek</a> o <a
                            href="https://play.google.com/store/apps/details?id=org.frogtek.ticketbox" target="_blank">Ticketbox</a> para ayudar a los tenderos a gestionar sus negocios.</p>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>ETL</h3>
                    <p class="text-muted">Extraemos, transformamos y analizamos la información que nuestros tenderos generan en tiempo real con Python-Pandas y R.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Monitorización</h3>
                    <p class="text-muted">Aumentamos la eficiencia de nuestros equipos de campo creando cuadros de control y alertas en tiempo real con Tableau y Python-Django.</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Infraestructura</h3>
                    <p class="text-muted">El corazón de nuestra compañía corre en las nubes de AWS y Google Cloud. Trabajamos con Aurora RDS, Jenkins, Chef, Big Query...</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Diseñamos y aplicamos algoritmos Machine Learning para supervitaminar nuestras operaciones o generar información de valor para nuestros partners y tenderos.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Equipo internacional</h3>
                    <p class="text-muted">Somos una empresa global que trabaja de forma distribuida. Operamos en México pero creamos, mantenemos y evolucionamos nuestra tecnología mayoritariamente desde España. Slack y Google Hangouts son nuestro día a día.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>100% remotos y flexibles</h3>
                    <p class="text-muted">Tenemos oficina en Huesca y Ciudad de México, pero podemos trabajar desde donde queremos: Zaragoza, Vitoria, La Orotava, Córdoba, Añora, Sevilla o [tu ciudad] disfrutando de horario y festivos flexibles.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Metodologías ágiles</h3>
                    <p class="text-muted">Nos organizamos siguiendo los principios y valores ágiles. Nos gusta la mejora continua y la excelencia en la gestión. Somos un algo Trello-holics.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <a href="#press" class="btn btn-primary btn-xl page-scroll">¿qué dicen de nosotros?</a>
            </div>
        </div>
</section>
