<section class="bg-primary" id="mision">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nuestra mision</h2>
                <hr class="light">
                <p class="text-faded">

                    Creamos productos y servicio cuyo propósito es iluminar con información el canal tradicional para hacerlo más competitivo (y de paso ayudar a los tenderos de países emergentes y del tercer mundo a competir en mejores condiciones)
                </p>

                {% include youtube.html youtube_id="BoDtuEUO328" %}

                <p><a href="#areas" class="btn btn-default btn-xl page-scroll">¿Cómo?</a></p>
            </div>
        </div>
    </div>
</section>
