<header>
    <div class="header-content" id="welcome">
        <div class="header-content-inner">
            <h1>Somos Frogtekeros</h1>
            <h2>La web del equipo de tecnología</h2>
            <hr>
            {% include youtube.html youtube_id="GAS6Vq0IYJQ8" %}
            
            <p class="text-faded"> Tecnología, datos e innovación para hacer más competitivo el canal tradicional en
                mercados emergentes. </p>

            <p><a href="#areas" class="btn btn-primary btn-xl page-scroll">¿cómo lo hacemos?</a></p>
        </div>
    </div>
</header>
