<section id="areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Como lo hacemos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-android wow bounceIn text-primary"></i>
                    <h3>Aplicaciones</h3>
                    <p class="text-muted">Hacemos aplicaciones Android como <a href="http://www.tiendatekweb.com/"
                                                                               target="_blank">Tiendatek</a> o <a
                            href="https://play.google.com/store/apps/details?id=org.frogtek.ticketbox" target="_blank">Ticketbox</a>
                        para ayudar a los tenderos a gestionar sus tiendas</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>ETL</h3>
                    <p class="text-muted">Extraemos, transformamos y analizamos grandes cantidades de datos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Machine Learning</h3>
                    <p class="text-muted">Diseñamos y aplicamos algoritmos de Machine Learning a nuestros datos para
                        generar información de valor para nuestros partners y tenderos</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Infraestructura</h3>
                    <p class="text-muted">Mantenemos nuestra infraestructura usando las tecnologías más modernas (AWS,
                        Google Cloud...)</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Equipo internacional</h3>
                    <p class="text-muted">Somos empresa global que trabaja de forma distribuida. Las operaciones de
                        venta, formación y soporte a tenderos están en México pero la creación de tecnología se ha hecho
                        hasta la fecha en España.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Trabajo en remoto</h3>
                    <p class="text-muted">Trabajamos en remoto desde Huesca, Vitoria, Tenerife, Córdoba, Sevilla,
                        Zaragoza, México DF...</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Metodologías ágiles</h3>
                    <p class="text-muted">Nos organizamos siguiendo los principios y valores ágiles.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <a href="#press" class="btn btn-primary btn-xl page-scroll">¿qué dicen de nosotros?</a>
            </div>
        </div>
</section>
