<h3 class="excerpt-title"><a href="{{ post.url | relative_url }}">{{post.title}}</a></h3>
<div class="excerpt-details">
    {% if post.tags %}
        <span class="excerpt-filter">
             {% for tag in post.tags %}
             <a href="{{ '/blog/tags/' | relative_url }}?q={{ tag|slugify }}" class="tag">{{ tag }}</a>
             {% endfor %}
        </span>
    {% endif %}

    <span class="excerpt-date">{{ post.date | date_to_string }}</span>
</div>
<div class="excerpt-content">
    {% if forloop.first == true or post.show_in_jobs == true %}
        {{ post.excerpt }}
    {% else %}
        <p>{{ post.excerpt | strip_html }}</p>
    {% endif %}

    <div class="text-right"><a class="btn btn-primary" href="{{ post.url | relative_url }}">Leer más</a></div>
</div>
