<section class="no-padding press" id="press">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% assign reviews = site.press | reverse %}
            {% if page.name == 'index.md' %}
                {% assign reviews = site.press | reverse | where_exp:"item", "item.in_home == true" %}
                {% assign num_reviews = 6 %}
            {% else %}
                {% assign num_reviews = reviews | size %}
            {% endif %}
            {% for review in reviews limit:num_reviews %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{review.external_link}}" class="press-box" target="_blank">
                    <img src="{{ site.baseurl }}{{review.thumbnail}}" class="img-responsive" alt="{{review.title}}">
                    <div class="press-box-caption">
                        <div class="press-box-caption-content">
                            <div class="press-title ">
                                {{review.title}}
                            </div>
                            <div class="press-subtitle text-faded">
                                {{review.date | date: "%Y"}}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>
    </div>
</section>