<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">


      {% assign reviews = site.press | reverse %}
      {% if page.name == 'index.md' %}
        {% assign num_reviews = 2 %}
      {% else %}
        {% assign num_reviews = reviews | size %}
      {% endif %}
      {% for review in reviews limit:num_reviews %}
      <div class="col-lg-4 col-sm-6">
        <a href="{{review.external_link}}" class="portfolio-box" target="_blank">
          <img src="{{review.thumbnail}}" class="img-responsive" alt="{{review.title}}">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category ">
                {{review.title}}
              </div>
              <div class="project-name text-faded">
                {{review.date | date: "%Y"}}
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
