<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/assets/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.fittext.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.cookie.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/assets/js/creative.js"></script>


{% if site.google-tracking-id %}
<script src="{{ site.baseurl }}/assets/js/cookieslaw.js"></script>

<script>
  $(document).ready(function() {
    var options = {
      cookieAnalytics: false,
      cookieMessage: 'Las cookies de este sitio, son sólo para analizar las visitas, no guardamos información personal.<br/> Presiona el botón o continua navegando si estás conforme'
    };
    $.cookieCuttr(options);
  });
</script>
{% endif %}