html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include serif-font;
  -webkit-tap-highlight-color: $theme-dark;
}

hr {
  border: 3px $theme-primary;
  max-width: 50px;
  .light {
    border-color: $theme-white;
  }
}

a {
  @include transition-all;
  color: $theme-primary;
  &:hover,
  &:focus {
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary;
}

.bg-dark {
  background-color: $theme-dark;
  color: $theme-white;
}

.text-faded {
  color: rgba($theme-white, .7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

// Navigation

.navbar {
  @include sans-serif-font;
  font-weight: 700;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li {
  // scss-lint:disable SelectorDepth
  > .menu-item:hover,
  > .menu-item:focus {
    color: darken($theme-primary, 10%);
  }
}

.navbar-brand img {
  margin-top: -15px;
}

// Homepage Header

header {
  @include background-cover;
  color: $theme-white;
  min-height: auto;
  position: relative;
  text-align: center;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 100%;
  }
}

.header-content {
  padding: 100px 15px 100px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.header-content-inner {
  h1 {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
  }
  hr {
    margin: 30px auto;
  }
  p {
    color: rgba($theme-white, .7);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
  }
}


// Sections

.section-heading {
  margin-top: 0;
}

.service-box {
  margin: 50px auto 0;
  max-width: 400px;
  min-height: 250px;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }
  p {
    margin-bottom: 0;
  }
}

.press {
  margin-top: 20px;
  h2 {
    margin: 0 auto 20px;
  }
}

.press-box {
  display: block;
  margin: 0 auto;
  max-width: 650px;
  position: relative;

  .press-box-caption {
    @include transition-all;
    background: rgba($theme-primary, .9);
    bottom: 0;
    color: $theme-white;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .press-box-caption-content {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    .press-title,
    .press-subtitle {
      @include sans-serif-font;
      padding: 0 15px;
    }
    .press-subtitle {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .press-title {
      font-size: 18px;
    }
  }
  &:hover {
    .press-box-caption {
      opacity: 1;
    }
  }
  @media (min-width: 768px) {
    .press-box-caption {
      .press-title {
        font-size: 16px;
      }
      .press-subtitle {
        font-size: 22px;
      }
    }
  }
}

.call-to-action {
  h2 {
    margin: 0 auto 20px;
  }
}

// Bootstrap Overrides
.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-dark, $theme-white, $theme-white);
}

.btn-primary {
  @include button-variant($theme-white, $theme-primary, $theme-primary);
}

.btn {
  @include sans-serif-font;
  border: 0;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-xl {
  padding: 15px 30px;
}

// Contact
.contact .fa.wow {
  color: $theme-dark;
  font-size: 4em;
}

// Extras
// -- Highlight Color Customization
// scss-lint:disable VendorPrefix
::-moz-selection {
  background: $theme-dark;
  color: $theme-white;
  text-shadow: none;
}

::selection {
  background: $theme-dark;
  color: $theme-white;
  text-shadow: none;
}

img::selection {
  background: transparent;
  color: $theme-white;
}

img::-moz-selection {
  background: transparent;
  color: $theme-white;
}

.avatar {
  @include prefix(-webkit-border-radius, 100%);
  border-radius: 100%;
  display: inline-block;
  height: 80px;
  vertical-align: middle;
  width: 80px;
}

.blog-post,
.blog-post li,
.blog-post p {
  --baseline-multiplier: .17;
  --x-height-multiplier: .375;
  color: rgba($theme-dark, .84);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01rem;
  line-height: 1.58;
}

.blog-index,
.blog-tag-index {
  ul {
    list-style-type: none;
  }
  small {
    color: $theme-light;
    font-family: monospace;
    font-size: .75em;
  }
}

.page-navigation {
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding-top: 100px;
  text-align: center;
  width: auto;

  a {
    font-size: 1.3em;
    margin: 1em;
  }
}

.social-share {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding-bottom: 30px;
  padding-top: 20px;
  text-align: center;

  p {
    color: $theme-light;
    font-size: 16px;
    a {
      font-size: 25px;
    }
  }

  .fa-twitter-square {
    color: $twitter-color;
  }
  .fa-facebook-square {
    color: $facebook-color;
  }
  .fa-google-plus-square {
    color: $google-plus-color;
  }
  .fa-linkedin-square {
    color: $linkedin-color;
  }

  i {
    transition: all .3s ease-in-out;
    &.active,
    &:focus,
    &:hover {
      background-color: fade($theme-light, 0);
      color: $theme-light;
      font-size: 1.5em;
      outline: none;
    }
  }
}

.youtube-container {
  @media (min-width: 768px) {
    height: 360px;
    width: 640px;
  }
  margin-bottom: 20px;
}

.home-last-post {
  background-color: rgba($theme-light, .2);
}

.job-offers {
  li {
    font-size: 1.5em;
    line-height: 2;
    list-style: none;
  }
}

.excerpt-title {
  padding-top: 20px;
}

.excerpt-details {
  border-bottom: 1px solid rgba($theme-light, .2);
  font-size: .9em;

  .excerpt-filter {
    display: inline-block;
    text-align: left;

    a {
      color: $theme-light;
      position: relative;
      top: -5px;
    }
  }

  a {
    text-decoration: none;
  }

  .excerpt-date {
    color: $theme-light;
    float: right;
  }

  //scss-lint:disable PseudoElement
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.excerpt-content {
  padding-top: 20px;
}

.tag {
  background: rgba($theme-light, .1);
  border-radius: 5px;
  color: rgba($theme-light, .6);
  font-size: .8em;
  padding: 3px 5px;
  text-transform: lowercase;
  transition: .2s ease-in-out;

  &:hover {
    background: $theme-primary;
    color: $theme-white;
    text-decoration: none;
  }
}

.blog-tag-index {
  font-size: 18px;
}

.post-details {
  p {
    color: $theme-light;
  }
  h2 {
    color: $theme-primary;
    font-weight: 600;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 2.5em;
    }
  }
  .post-author {
    margin: 0;
  }
  .post-date {
    font-size: .7em;
  }
}

.post-content {
  img {
    display: block;
    margin: 0 auto;
  }

  .emoji {
    display: inline;
  }
}

.team {
  h2 {
    padding-bottom: 20px;
  }
}

.gdpr {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1px 10px;

  h3, p {
    font-size: 0.8em;
    margin-bottom: 0.7em;
  }
  h3 {
    font-weight: bold;
    margin-top: 0.7em;
  }
}
