
@mixin prefix ($prop, $val...) {
  // scss-lint:disable VendorPrefix
  -webkit-#{$prop}: #{$val};
  -moz-#{$prop}: #{$val};
  -ms-#{$prop}: #{$val};
  #{$prop}: #{$val};
}

@mixin transition-all() {
  @include prefix(transition, all, .35s);
}

@mixin background-cover() {
  background: url($baseurl + '/assets/img/header.jpg') center;
  @include prefix(background-size, cover);
}

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
  @include transition-all;
  // scss-lint:disable QualifyingElement

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-color: darken($background, 5%);
    border-color: darken($border, 7%);
    color: $color;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle & {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $background;
      border-color: $border;
    }
  }

  .badge {
    background-color: $color;
    color: $background;
  }
}

@mixin sans-serif-font() {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font() {
  font-family: "San Francisco","Helvetica Neue",Helvetica,Arial;
  //font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
