<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="blog">
{% include nav.html %}

<section id="{{ page.title }}" class="container content-section job-offers">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2 class="text-center">{{ page.title }}</h2>
      {{ content | markdownify }}

      {% assign offers = site.posts | where_exp:"item", "item.show_in_jobs == true" %}
      <br>
      <h2 class="text-center">Procesos de selección abiertos</h2>
      {% if offers.size > 0 %}
      <ul>
          {% for post in offers %}
              {% include post_excerpt.html %}
          {% endfor %}
      </ul>
      {% else %}
      <p>Actualmente no tenemos procesos de selección abiertos</p>
      {% endif %}
    </div>
  </div>
</section>

<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Mándanos tu currículum a empleo-tech<i class="fa fa-at"></i>frogtek.org</h2>
    </div>
  </div>
</aside>

{% include contact.html %}
{% include scripts.html %}
</body>

</html>
