<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="blog">
  {% include nav.html %}

  <section id="{{ page.title }}" class="container content-section blog-post">
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2" >
{% assign author_info = site.authors | where: "name", page.author | first %}

       <h2 class="text-center">{{ page.title }}</h2>

       <h4 class="text-center">
         <img class="avatar text-center" src="{{author_info.avatar}}"/>
         por <strong>{{ author_info.long_name  }}</strong><br/>
         {{ page.date | date_to_string }}
         <p class="hashtag"><small>
           {% if page.tags %}
             {% for tag in page.tags %}
             <a href="/tag/{{ tag }}/">#{{ tag }}</a>
             {% endfor %}
           {% endif %}
         </small>
         </p>
       </h4>

       {{ content }}
     </div>
   </div>
</section>

  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
