<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" class="blog">
  {% include nav.html %}

  <section id="{{ page.title }}" class="container content-section blog-post">
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 post-details" >
       <h2 class="text-center">{{ page.title }}</h2>

       <div class="post-info text-center">
         {% assign author_info = site.authors | where: "username", page.author | first %}
         {% if author_info.avatar %}
           <img class="avatar text-center" src="{{ author_info.avatar | relative_url }}" alt="{{ page.author }}"/>
         {% endif %}
         <p class="post-author">por <strong>{{ author_info.long_name  }}</strong></p>
         <p class="post-date">{{ page.date | date_to_string }}</p>
         <p class="post-tags"><small>
           {% if page.tags %}
             {% for tag in page.tags %}
             <a href="{{ '/blog/tags/' | relative_url }}?q={{ tag|slugify }}" class="tag">{{ tag }}</a>
             {% endfor %}
           {% endif %}
         </small>
         </p>
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-lg-8 col-lg-offset-2 post-content">
       {{ content }}
       {% include share.html %}
     </div>
   </div>
    <div class="row">
        <div id="disqus_thread" class="col-lg-8 col-lg-offset-2" ></div>
    </div>
</section>


<section id="post-navigation" class="container page-navigation">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url | relative_url }}"><i class="fa fa-chevron-left"></i> {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="next" href="{{page.next.url | relative_url}}">{{page.next.title}} <i class="fa fa-chevron-right"></i></a>
      {% endif %}
</section>

  {% include contact.html %}
  {% include scripts.html %}

<script>
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://developing-frogtek.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

</body>
<style>
  .blog-post img {
    max-width: 100%;
    height: auto;
  }
</style>
</html>
